/* Footer.css */


  
  .footer-background {
    height: 269px; /* Full height of the footer */
    background: rgba(5, 37, 74, 0.8);
    width: 1440px;
    height: 269px;
    top: 2884px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
  }
  
 
  
 
  